<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Attachments</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="assets/css/style-login.css">
		<link rel="stylesheet" href="assets/css/fontello/fontello.css">
		
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="assets/ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">

    </head>

    <body>

        <!-- Top content -->
        <div class="top-content">
        	
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1><strong>Attachments</strong> Backup</h1>
                            <div class="description">
                            	<p>
	                            	Find all your Gmail attachments and download them quickly and easily
                            	</p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
	                    <div class="form-top">

                        <!--<div class="col-sm-4 col-sm-offset-4">-->
		                        	<div class="row">
			                        	<div class="col-md-4">
				                        	<div id="DIV_1">
												<span id="SPAN_2"><i id="I_3" class="icon-search"></i></span>
												<div id="DIV_4">
													<h4 id="H4_5">
														Search Filter
													</h4>
													<p id="P_6">
														Use standard Gmail search queries to filter your attachments and download them.
													</p>
												</div>
											</div>
			                        	</div>
			                        	<div class="col-md-4">
				                        	<div id="DIV_1">
												<span id="SPAN_2"><i id="I_3" class="icon-calendar"></i></span>
												<div id="DIV_4">
													<h4 id="H4_5">
														Original Timestamps
													</h4>
													<p id="P_6">
														All attachments will keep the original date & timestamp as the email it was attached to.
													</p>
												</div>
											</div>
			                        	</div>
			                        	<div class="col-md-4">
				                        	<div id="DIV_1">
												<span id="SPAN_2"><i id="I_3" class="icon-file-archive"></i></span>
												<div id="DIV_4">
													<h4 id="H4_5">
														Single Zip
													</h4>
													<p id="P_6">
														Download all the attachments saved in a single easy zip file.
													</p>
												</div>
											</div>
			                        	</div>
		                        	</div>
		                        	
                        		<div class="form-top-left">
                        		</div>
                        		<div class="form-top-right">
                        		</div>
                            

		                    
                        <!-- </div>end col-sm4 col-sm-offset-4-->
                    </div><!-- end form-top -->
                            <div class="form-bottom">
	                                <h3 class="centerme">Sign In using Google</h3>
								<a class="btn btn-link-1 btn-link-1-google-plus centerme" href="/auth/google_oauth2">
	                        		<i class="fa fa-google-plus"></i> Google
	                        	</a>
		                    </div>
                    </div><!-- end row-->
                    
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 social-login">
                        	
                        </div>
                    </div>
                </div>
            </div>
            
        </div>


        <!-- Javascript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>
        <script src="assets/js/scripts.js"></script>
        
        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->

    </body>

</html>